#titulo {
    color: red;
}

p.texto {
    color: blue;
}

p.especial {
    color:tomato
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* { /*Este es un Selector universal que solo reemplaza
    o edita algo si este no fue editado antes!*/
    font-size: 24px;
    color: black;
}
/*
.color {
    color: #ff0000;
}
.color {
    color: rgb(0,255,255);
}
*/

.color {
    /* border: 5px coral solid; */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
}

#fondo {
    background-color: red;
    height: 300px;
    /* opacity: 0.3; */
    background-image: url("coffee.png");
    background-size: 100px 100px;
    background-repeat: repeat-x;
}